html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #b3d9ff;
}

header {
    background-color: #143db8;
}

#logo {
    height: 100px;
    width: 100px;
    float: left;
}

#sitename {
    display: inline-block;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav {
    background-color: #2e4a9e;
}

#support {
    text-decoration: none;
    color: whitesmoke;
}

#catchphrase {
    position: absolute;
    margin: 5.5% 0% 0% 45%;
}

#formcontainer {
    clear: both;
    display: inline-block;
    margin-top: 7%;
    margin-left: 2%;
}

#copyright {
    background-color: #2e309e;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;    
}

#formlabel, .registrazione, #rememberlabel {
    color: #000080;
    line-height: 160%;
}

#slogan {
    color: #000080;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

#old_email, #new_email {
    padding: 5px;
    width: 95%;
}

@media only screen and (max-width: 1000px) {
    #slogan{
        display: none;
    }
}

.invalid_mail{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background-color: palevioletred;
}

#submit {
    background-color: #143db8;
    border: none;
    color: whitesmoke;
}
